*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}
#page{
    width: 300px;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 50px;
    padding: 50px 25px;
}
#login h1{
    font-family: sans-serif;
}
#login_email,#login_password{
    border: none;
    border-bottom: #ccc 1px solid;
    padding: 10px;
    padding: 3px;
    width: 100%;
    margin-bottom: 20px;
}
#login_frm{
    margin-top: 50px;
}#login_btn{
    width: 100%;
    padding: 10px;
    border: none;
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    font-family: sans-serif;
    outline: none;
    cursor: pointer;
}
#login p{
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 14px;
    align-items: center;
    direction: rtl;
}
#login span{
    color: blue;
    cursor: pointer;
}